# ========================
# .NET Core / Backend
# ========================
app_backend/bin/
app_backend//obj/
app_backend//*.user
app_backend//.vs/
app_backend//submissions.json

# ========================
# Angular / Frontend
# ========================
app_frontend/node_modules/
app_frontend/dist/
app_frontend/.angular/

# ========================
# General
# ========================
.DS_Store
Thumbs.db
*.log
.env